  #map {
        height: 100vh;
      }

  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  #sidebar {
    position: fixed;
    top: 0;
    left: 0;
    margin: 5px;
    padding: 5px;
    width: 300px;
    max-width: 90%;
    height: 100%;
    background-color: #FFF;
  }

  ul {
    margin: 0px;
    padding: 0px;
  }

  .searchBar {
    width: 95%;
    background-color: #d8d8d8;
  }

  .sidebar-venue-item {
    margin: 5px;
    padding: 2px;
    border: 1px solid black;
    list-style-type: none;
  }